<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://img1.wsimg.com/isteam/ip/fadd8203-873d-4980-90fc-6e59fbec40e2/logo/86f0b5f1-a7d7-43f8-9f61-8ea875b07fcd.png/:/rs=h:150/ll">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<router-outlet></router-outlet>
